.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    align-items: center;

}

.add_to_leitner {
    background-color: white !important;
    width: 200px;
    margin-top: 150px;
    transition: all .2s !important;
    font-weight: 600 !important;
}

.add_to_leitner:hover {
    background-color: white !important;
    border-color: white !important;
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.2);
    transform: perspective(100px) translateZ(5px) !important;
}